body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #163152;
  background-color: #fdfdff;
}

/* header */

.page-header {
  margin-bottom: 40px;
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1170px;
  margin: 0 auto;
  padding: 20px 55px;
}

.logo {
  width: 200px;
  height: 160px;
  scale: 140%;
  margin: 0;
  margin-right: auto;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-right: 40px;
  list-style: none;
  max-width: 990px;
}

.site-navigation-item {
  margin-right: 30px;
}

.site-navigation-item:last-child {
  margin-right: 0;
}

.site-navigation-item a {
  font-size: 14px;
  line-height: 18px;
  color: #163152;
  text-transform: uppercase;
  text-decoration: none;
}

.site-navigation-item button {
  font-size: 14px;
  line-height: 18px;
  color: #163152;
  text-transform: uppercase;
  text-decoration: none;
  text-decoration: none;
  border: none;
  background-color: #fdfdff;
}

.site-navigation-item button:hover {
  color: rgba(22, 49, 82, 0.5);
}

.site-navigation-item button:active {
  color: rgba(22, 49, 82, 0.5);
}

.site-navigation-item a:hover {
  color: rgba(22, 49, 82, 0.5);
}

.site-navigation-item a:active {
  color: rgba(22, 49, 82, 0.3);
}

/* Стиль темы */

.theme {
  font-size: 14px;
  line-height: 18px;
  color: #163152;
  text-transform: uppercase;
  margin-left: 30px;
  margin-right: 6px;
  margin-top: 8px;
}

.theme-switcher {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-right: 30px;
  display: flex;
  flex-wrap: wrap;
}

.theme-switcher li {
  margin-right: 10px;
}

.theme-switcher li:last-child {
  margin-right: 0;
}

.theme-button-light {
  display: block;
  width: 32px;
  height: 32px;
  padding: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  background-image: url("../../assets/sun.svg");
  border: 1px solid #00c6bd;
  border-radius: 50%;
  cursor: pointer;
}

.theme-button-light:hover {
  opacity: 0.5;
}

.theme-button-light:active {
  opacity: 0.3;
}

.theme-button-light.active {
  background-image: url("../../assets/sun-light.svg");
}

.theme-button-dark {
  display: block;
  width: 32px;
  height: 32px;
  padding: 0;
  background-image: url("../../assets/moon.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 1px solid #00c6bd;
  border-radius: 50%;
  cursor: pointer;
}

.theme-button-dark:hover {
  opacity: 0.5;
}

.theme-button-dark:active {
  opacity: 0.3;
}

.theme-button-dark.active {
  background-image: url("../../assets/moon-light.svg");
}

/* main */

.main-content {
  width: 1170px;
  margin: 0 auto;
  margin-top: -60px;
  padding: 0 55px;
}

.upload-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px;
}

#upload-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #d3d3d3;
  border-radius: 12px;
  box-shadow: 0 2px 4px #d3d3d3;
  padding: 20px;
  background-color: transparent;
  width: 100%;
  height: 603px;
  text-align: center;
}

#upload-text {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  color: #b1b1b1;
  line-height: 24px;
  margin-bottom: 20px;
}

.upload-content .site-navigation,
.upload-content .site-navigation-item a {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #163152;
  text-transform: uppercase;
  text-decoration: none;
}

#success {
  display: none;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#success img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #1b679a;
  padding: 6px;
}

#success-message {
  max-width: 359px;
  color: #b1b1b1;
  font-size: 14px;
  line-height: 16px;
}

#sending {
  color: #b1b1b1;
  font-size: 14px;
  line-height: 16px;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group span {
  display: flex;
  justify-content: center;
  align-content: center;
}

.custom-file-upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  cursor: pointer;
  color: #b0b0b0;
  font-size: 18px;
}

.custom-file-upload .upload-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: #1b679a;
  color: white;
  border-radius: 50%;
  font-size: 24px;
  margin-top: 10px;
}

input[type="file"] {
  display: none;
}

.submit-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 40px;
  background-color: #1b679a;
  border: none;
  color: white;
  border-radius: 4px;
  font-size: 14px;
  margin-top: 10px;
}

.error-group img {
  width: 46.5px;
  height: 46.5px;
  border-radius: 50%;
  background-color: #1b679a;
  padding: 6px;
}

.error-text {
  max-width: 359px;
  color: #000000;
  font-size: 14px;
  line-height: 16px;
  margin-top: 10px;
}

.error-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 40px;
  background-color: #1b679a;
  border: none;
  color: white;
  border-radius: 4px;
  font-size: 14px;
  margin-top: 10px;
}

/* Выделение активной кнопки */

.active {
  background-color: #00c6bd;
  color: #fdfdff;
}

/* Theme: serif font */

.page.serif {
  font-family: "Philosopher", serif;
}

/* Theme: dark */

.page.dark {
  color: #fdfdff;
  background-color: #1d1f1f;
}

.page.dark .font-button-sans-serif {
  color: #fdfdff;
}

.page.dark .font-button-serif {
  color: #fdfdff;
}

.page.dark .theme-button-light {
  background-image: url("../../assets/sun-light.svg");
}

.page.dark .logo img {
  filter: brightness(20);
}

.page.dark a {
  color: #fdfdff;
}

.page.dark a:hover {
  opacity: 0.5;
}

.page.dark a:active {
  opacity: 0.3;
}
