  .doc-button {
    display: block;
    /* width: 100px; */
    height: 100px;
    padding: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    background-image: url("../../assets/word.svg");
    border: none;


    cursor: pointer;
  }
  
  body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #163152;
    background-color: #fdfdff;
  }
  

  
  /* main */
  
  .main-content {
    width: 1170px;
    margin: 0 auto;
    margin-top: -60px;
    padding: 0 55px;
  }
  
  .p-container {
    margin: 50px auto;
    padding: 20px;
  }
  
  .p-container .p-container-title,
  .p-container-paragraph {
    display: flex;
    font-size: 14px;
    line-height: 17px;
    margin: 0 0 10px;
  }
  
  .p-container-title {
    font-weight: 600;
  }
  
  .p-container-paragraph {
    padding-left: 4px;
    font-weight: 400;
  }
  
  .file-upload {
    display: grid;
    align-items: center;
    justify-content: center;
    margin: 100px 0;
  }
  
  .file-upload span {
    margin-top: 5px;
    margin-left: 24px;
  }
  
  section {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .radio {
    display: flex;
    align-items: center;
    margin-right: 20px;
  }
  
  .radio h2 {
    margin-right: 10px;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
  }
  
  .radio input {
    margin-top: -1px;
  }
  
  .radio label {
    margin-left: 10px;
    margin-right: 25px;
  }
  
  .radio label:last-child {
    margin-right: 500px;
  }
  
  .req {
    color: #ff0000;
  }
  
  .required::after {
    content: "*";
    color: red;
    margin-left: 5px;
  }
  
  .comment-div {
    display: flex;
    flex-direction: row;
  }
  .comment-div textarea {
    width: 958px;
    height: 90px;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 6px;
    background-color: rgba(217, 217, 217, 1);
    margin-top: 10px;
    resize: vertical;
  }
  
  .comment-div h2 {
    font-size: 14px;
    line-height: 17px;
    font-weight: 600;
    margin-right: 18px;
  }
  
  textarea:focus {
    border: 1px solid rgba(217, 217, 217, 1);
    background: none repeat scroll 0 0 #ffffff;
    /* outline-width: 0; */
  }
  
  .submit-container {
    display: flex;
    justify-content: flex-end;
  }
  
  .submit {
    width: 189px;
    height: 30px;
    color: white;
    border: none;
    background-color: #1b679a;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 6px;
  }
  
  /* Выделение активной кнопки */
  
  .active {
    background-color: #00c6bd;
    color: #fdfdff;
  }
  
